#display {
  /* background-color: hsla(0, 45%, 35%, 1); */
  /* box-sizing: border-box; */
  border: 2px inset var(--secondary-bg-color);
  border-radius: 0.5rem;
  grid-column: 1 / -1;
  min-height: 7rem;
  /* min-height: 10vmin;  */
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0.5rem;
  font-family: 'Satisfy', cursive;
  font-size: 1.7rem;
  font-weight: 400;
  backdrop-filter: brightness(1.2);
}


#drum-machine-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  margin: 0 1rem;
}

/* Sneaky force square ratios hack
#drum-machine > *::before {
  --aspect-ratio: 1;
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
} */



@media (min-width: 360px) {
  #display {
    /* min-height: 10vh;  */
    padding: 1rem;
    /* margin: 0.5rem; */
    font-size: 2rem;
  }

  #drum-machine {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* gap: 0.5rem;
    margin: 0 1rem; */
  }

}
