#drum-machine-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */  
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0 1rem;
}

/* Sneaky force square ratios hack
#drum-machine > *::before {
  --aspect-ratio: 1;
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
} */

#display {
  background-color: hsla(0, 45%, 35%, 1);
  grid-column: 1 / -1;
  min-height: 10vh; 
  display: flex;
  flex-flow: column;
  justify-content: center;
}