.drum-pad {
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 50px;
  min-height: 100px;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.drum-pad header {
  font-size: x-large;

}