.drum-pad {
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
  min-height: 20px;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.drum-pad:focus {
  outline: 0;
}

.drum-pad header {
  font-size: 3rem;
}

.playing {
 animation: 4s linear glow-pulse-animation infinite;
}

@keyframes glow-pulse-animation {
  0% {
    filter: hue-rotate(0deg)
            blur(0px)
            brightness(1.1)
            drop-shadow(0.1rem 0.1rem 0px var(--main-text-color));
  }
  50% {
    filter: hue-rotate(5deg)
            blur(1px)
            brightness(1.8)
            drop-shadow(0.5rem 0.5rem 0.5rem var(--main-text-color));
  }
  100% {
    filter: hue-rotate(0deg)
            blur(0px)
            brightness(1.1)
            drop-shadow(0.1rem 0.1rem 0px var(--main-text-color));
  }

}

@media (min-width: 360px) {
  .drum-pad {
    padding: 30px;
    min-height: 100px;
  }

  .drum-pad header {
    font-size: 4rem;
  }

}