@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,900;1,400&display=swap');

body {
  --main-text-color: #EEEEEE;
  --main-bg-color: hsla(212, 29%, 15%, 1);
  --secondary-bg-color: hsla(290, 50%, 35%, 0.75);
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}